<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/"></i>Manifeste !</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">🔎 Rechercher un évènement</a>
      <a class="nav-item nav-link" href="/apropos">À propos</a>
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="/connexion">Connexion</a>
      <a class="nav-item nav-link" href="/moncompte">Mon compte</a>
      <a class="nav-item nav-link" href="/deconnexion" style="color:firebrick">Déconnexion</a>      
    </ul>
</div>
</nav>