{{template "_head.html"}}

<div class="container mt-5">
  <h1>À propos</h1>
</div>

<div class="container mt-5">
  <p>
    <i>Manifeste !</i> est une plateforme à but non lucratif qui te permet de découvrir ou de renseigner les manifestations proches de chez toi, pour que d'autres militant·e·s
    soient au courant.
  </p>
</div>

<div class="container mt-5">
  <h1>F.A.Q</h1>
  <div class="container mt-4">
    <h2>Qui peut voir les manifestations ?</h2>
    <p>Tout le monde ! Pas besoin d'avoir un compte pour consulter les manifestions qui ont été renseignées. Il suffit de chercher le nom d'une ville dans la <a href="/">barre de recherche</a>.</p>
  </div>
  <div class="container mt-4">
    <h2>Qui peut ajouter des manifestations ?</h2>
    <p>Tout le monde peut ajouter des manifestations. Il faut cependant s'être créé un compte <a href="/nouveaucompte">ici</a> ou être connecté <a href="/connexion">ici</a> avec un compte existant et avoir confirmé son adresse mail.</p>
  </div>
  <div class="container mt-4">
    <h2>Niveau sécurité, ça se passe comment ?</h2>
    <p>Nous faisons le maximum pour garantir la sécurité des données que vous nous transmettez, avec pour les mots de passe des algorithmes de hashage qui sont considérés comme étant les plus sûrs <i>(pour les nerds, on utilise <a href="https://fr.wikipedia.org/wiki/Bcrypt">Bcrypt</a> avec un coût de 10)</i>.</p>
    <p>Conformément au RGPD, vous pouvez réclamer la suppression de vos données en nous contactant à <a href="mailto:salut@manifeste.info">cette adresse mail</a>.</p>
    <p>L'entierté du code de cette application web est en sources libres <a href="https://github.com/manifeste-info/webapp">ici</a>.</p>
  </div>
  <div class="container mt-4">
    <h2>Est-ce que <i>Manifeste !</i> est financé par des grands lobbies ?</h2>
    <p>Et non ! On paie l'hébergement/l'envoi de mails/étou-étou de notre poche, et on ne compte pas monétiser cette plateforme. C'est pour ça que vous ne verrez jamais de pub ici.</p>
  </div>
</div>