{{ template "_head.html" }}

<script>
;(function($){
	$.fn.datepicker.dates['fr'] = {
		days: ["dimanche", "lundi", "mardi", "mercredi", "jeudi", "vendredi", "samedi"],
		daysShort: ["dim.", "lun.", "mar.", "mer.", "jeu.", "ven.", "sam."],
		daysMin: ["d", "l", "m", "me", "j", "v", "s"],
		months: ["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
		monthsShort: ["Janv.", "Févr.", "Mars", "Avril", "Mai", "Juin", "Juil.", "Août", "Sept.", "Oct.", "Nov.", "Déc."],
		today: "Aujourd'hui",
		monthsTitle: "Mois",
		clear: "Effacer",
		weekStart: 1,
		format: "dd/mm/yyyy"
	};
}(jQuery));
$(document).ready(function(){
    var date_input=$('input[name="date"]'); //our date input has the name "date"
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    date_input.datepicker({
        format: 'dd/mm/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
        language: 'fr',
    })
})
</script>

{{if .HasConfirmedAccount}}
  {{if .Success}}
  <div class="container mt-4">
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Évènement créé avec succès !</h4>
      <p>Retrouve-le dans le <a href="/">menu de recherche.</a></p>
    </div>
  </div>
  {{else}}
  {{if .Error}}
  <div class="container mt-4">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <h4 class="alert-heading">Attention !</h4>
      <p>{{.ErrMsg}}</p>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  {{end}}
  <div class="container mt-4">
    <h1>Publier un nouvel évènement 📣</h1>
  </div>
  <div class="container mt-4">
    <form action="/moncompte/nouveau" method="POST">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="city">Ville<sup style="color:firebrick;">*</sup></label>
          <!-- <input type="text" class="form-control" name="city" id="city" placeholder="Paris" value="{{.City}}"> -->
          <input class="form-control" list="datalistCity" id="city" name="city" placeholder="Nom de la ville...">
          <datalist id="datalistCity">
            {{range .Cities}}
              <option value="{{.}}">
            {{end}}
          </datalist>
        </div>
        <div class="col-md-6 mb-3">
          <label for="address">Adresse<sup style="color:firebrick;">*</sup></label>
          <input type="text" class="form-control" name="address" id="address" placeholder="12 Rue du Mouchat" value="{{.Address}}">
        </div>
      </div>
      
      
      <div class="mb-3">
        <label for="description">Description<sup style="color:firebrick;">*</sup></label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Rassemblement en faveur des causes LGBTQI+...">{{.Description}}</textarea>
      </div>

      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="date">Date<sup style="color:firebrick;">*</sup></label>
          <input type="text" class="form-control" name="date" id="date" placeholder="JJ/MM/AAAA" value="{{.Date}}">
        </div>
        <div class="col-md-4 mb-3">
          <label for="time">Heure<sup style="color:firebrick;">*</sup></label>
          <input type="time" class="form-control" name="time" id="time" value="{{.Time}}">
        </div>
        <div class="col-md-4 mb-3">
          <label for="link">Catégorie<sup style="color:firebrick;">*</sup></label>
          <!-- <input class="form-control" id="category" name="category"> -->
          <select class="form-control" name="category" id="category" value="{{.Category}}">
            {{range .Categories}}
              <option>{{.}}</option>
            {{end}}
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 mb-3">
          <label for="organizer">Organisateur·rice<sup style="color:firebrick;">*</sup></label>
          <input type="text" class="form-control" name="organizer" id="organizer" placeholder="Confédération Générale du Travail..." value="{{.Organizer}}">
        </div>
        <div class="col-md-6 mb-3">
          <label for="link">Lien de l'évènement</label>
          <input type="text" class="form-control" name="link" id="link" placeholder="https://..." value="">
        </div>
      </div>
      
        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Publier</button>
      </div>
    </form>
  </div>
  {{end}}
{{else}}
  <div class="container mt-5">
    <div class="alert alert-warning" role="alert">
      Tu dois confirmer ton adresse email pour créer un évènement.
    </div>
  </div>
{{end}}