{{template "_head.html"}}

<style>
  .error-template {padding: 40px 15px;text-align: center;}
  .error-actions {margin-top:15px;margin-bottom:15px;}
  .error-actions .btn { margin-right:10px; }
</style>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
              <h1>Oops!</h1>
              <h2>Cette page n'existe pas.</h2>
              <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg">Retour à l'accueil </a><a href="mailto:support@manifeste.info" class="btn btn-secondary btn-lg">Contacter le support</a>
              </div>
          </div>
      </div>
  </div>