{{template "_head.html"}}

{{if .Error}}
<div class="container mt-5">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Erreur !</strong> {{.ErrMsg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{end}}

{{if .Success}}
<div class="container mt-5">
  <div class="alert alert-success" role="alert">
    Le compte a été créé avec succès ! <a href="/moncompte">Voir mon compte.</a>
  </div>
</div>
{{end}}
<style>
input:invalid {
  border: 2px dashed red;
}
input:invalid:focus {
  border: 2px dashed red;
}
</style>
<div class="container mt-5">
  <form class="needs-validation" novalidate action="/nouveaucompte" method="POST">
    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="nickname">Pseudo<sup style="color:firebrick;">*</sup></label>
        <input type="text" class="form-control" name="nickname" id="nickname" placeholder="" value="{{.Nickname}}">
      </div>
      <div class="col-md-6 mb-3">
        <label for="lastname">Email<sup style="color:firebrick;">*</sup></label>
        <input type="email" class="form-control" name="email" id="email" placeholder="plop@exemple.com" value="{{.Email}}">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 mb-3">
        <label for="password">Mot de passe<sup style="color:firebrick;">*</sup></label>
        <input type="password" class="form-control" minlength="8" name="password" id="password" placeholder="" value="">
      </div>
      <div class="col-md-6 mb-3">
        <label for="passwordRetype">Confirmer le mot de passe<sup style="color:firebrick;">*</sup></label>
        <input type="password" class="form-control" minlength="8" name="passwordRetype" id="passwordRetype" placeholder="" value="">
    </div>

      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit">Se créer un compte</button>
      <br>
      <a href="/connexion">Déjà un compte? Connecte toi ici.</a>
  </form>
</div>